<div class="row">
    <div class="col-xs-12">
        <h2>Create a retro session</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <mat-form-field class="example-form-field">
            <mat-label>Retro name</mat-label>
            <input matInput type="text" [(ngModel)]="newSession" (keydown.enter)="createRetroSession()">
            <button mat-button *ngIf="newSession" matSuffix mat-icon-button aria-label="Clear" (click)="clearSession()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6">
        <button mat-mini-fab color="primary" [disabled]="!newSession" (click)="createRetroSession()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4" *ngFor="let session of model.sessions | async">
       
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ session.title }}</mat-card-title>
                <mat-card-subtitle>{{ session.created }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" (click)="joinRetroSession(session.key)">Join</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>