.start {
    background: #ecf0f1;
}

.stop {
    background: #e74c3c;
}

.continue {
    background: #2ecc71;
}

.message-column {
    display: flex;
    flex-direction: column;
}

.message-action {
    margin-left: 15px;
}

.author {
    font-size: 0.65rem;
}
